.episode-container-without-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
}

.dynaminc-value {
    font-family: 'Gluten', cursive;
    font-size: 1.5rem;
    font-weight: 200; 
    color: var(--clr-light-yellow);
    text-shadow:
    -1px -1px 0 var(--clr-black-decor),  
    1px -1px 0 var(--clr-black-decor),
    -1px 1px 0 var(--clr-black-decor),
    1px 1px 0 var(--clr-black-decor);  
}

.static-value {
    font-family: 'Gluten', cursive;
    font-size: 1.5rem;
    font-weight: 200; 
    color: var(--clr-light-pink);
    text-shadow:
    -1px -1px 0 var(--clr-black-decor),  
    1px -1px 0 var(--clr-black-decor),
    -1px 1px 0 var(--clr-black-decor),
    1px 1px 0 var(--clr-black-decor); 
}

.info-span {
    font-family: 'Gluten', cursive;
    font-size: 1.5rem;
    font-weight: 200; 
    color: var(--clr-dark-blue);
    text-shadow:
    -1px -1px 0 var(--clr-black-decor),  
    1px -1px 0 var(--clr-black-decor),
    -1px 1px 0 var(--clr-black-decor),
    1px 1px 0 var(--clr-black-decor); 
}

.swal2-popup {
    background-color: var(--clr-background-color);
    font-family: 'Gluten', cursive;
    /* color: var(--clr-dark-blue); */
    color: tomato;
    text-shadow:
    -1px -1px 0 var(--clr-black-decor),  
    1px -1px 0 var(--clr-black-decor),
    -1px 1px 0 var(--clr-black-decor),
    1px 1px 0 var(--clr-black-decor); 
}

.swal-text-color {
    color: tomato;
    
}

.aria-label {
    color: tomato;
}